.chat-timestamp {
  width: 100%; 
  text-align: center; 
  border-bottom: 2px solid rgb(130, 209, 233); 
  line-height: 0.1em;
  margin: 20px 0px 20px;
  font-size: 1rem !important;
} 

.chat-timestamp span { 
   background:#fff; 
   color: black;
   padding: 5px 10px;
   margin-top: 30px;
   border: 2px solid rgb(130, 209, 233);
   border-radius: 20px;
   background-color: rgb(230, 230, 230);
}