.page-header {
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header img {
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
}

.page-header button {
  border: none;
}

.page-header button:hover {
  background-color: rgb(189, 209, 223);
}