.chat-input-wrapper {
  display: flex;
  padding: 10px;
  margin-top: 0.5%;
  justify-content: space-between;
  border: 2px solid rgb(130, 209, 233);
}

.chat-input-wrapper textarea {
  width: 90%;
  height: 50px;
  border-radius: 4px;
}

.chat-input-wrapper button {
  width: 8%;
  background-color: rgb(130, 209, 233);
  border: none;
  border-radius: 4px;
  margin: 0 !important;
  font-size: 14px;
}