@keyframes spinner-border {
  to {transform: rotate(360deg);}
}

.spinner-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.spinner {
  width: 5rem;
  height: 5rem;
  color: rgb(130, 209, 233) !important;
  display: inline-block;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: spinner-border;
  animation: spinner-border .75s linear infinite;
}